In [1]:
import sqlite3
import pandas as pd

In [6]:
conn = sqlite3.connect('./table.db')

In [25]:
sql = '''SELECT user_id, order_datetime, order_id, COUNT(order_id) as count
FROM users_activity
GROUP BY WEEK(order_datetime)'''

In [26]:
pd.read_sql(sql, conn)

DatabaseError: Execution failed on sql 'SELECT user_id, order_datetime, order_id, COUNT(order_id) as count
FROM users_activity
GROUP BY WEEK(order_datetime)': no such function: WEEK