In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('./table.db')

In [3]:
sql = '''SELECT strftime('%W', future_activity.order_datetime) as week,
count(distinct users_activity.user_id) as active_users, 
count(distinct future_activity.user_id) as retained_users,
CAST(count(distinct future_activity.user_id) as FLOAT)/ 
CAST(count(distinct users_activity.user_id) as FLOAT) as retention
FROM users_activity
LEFT JOIN users_activity AS future_activity ON
 users_activity.user_id = future_activity.user_id
 AND CAST(strftime('%W', users_activity.order_datetime) AS INTEGER) = strftime('%W', future_activity.order_datetime) - 1
GROUP BY strftime('%W', users_activity.order_datetime)'''

In [4]:
pd.read_sql(sql, conn)

   week  active_users  retained_users  retention
0  None             2               0        0.0
1  None             4               0        0.0